* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  .topic {
    text-decoration: underline;
    font-weight: bolder;
    font-size: 20px;
  }
  .question {
    font-size: 12px;
  }
  .sides{
      margin-top: 10px;
      display: flex;
      gap: 50px;
      justify-content: space-between;
  }
  .main-text{
      font-size: 20px;
      font-weight: bolder;
  }
  .box{
      display: flex;
      gap: 20px;
      margin: 10px 0px;
  }
  .text{
      font-size: 18px;
  }
  .fm{
    margin-left: 20px;
  }
  .dc{
    margin-left: 3px;
  }
  .bm{
    margin-right: 5px;
  }
  .next{
      margin-top: 10px;
      border: none;
      border-radius: 40px;
      background: darkorange;
      padding: 10px 40px;
      float: right;
      cursor: pointer;
  }
  a{
      text-decoration: none;
      color: #000;
  }
  .age-death{
    width: 50px;
    border: 2px solid #000;
  }