* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.topic {
  text-decoration: underline;
  font-weight: bolder;
  font-size: 20px;
}
.question {
  font-size: 12px;
}
.sides{
    margin-top: 10px;
    display: flex;
    gap: 70px;
    justify-content: space-between;
}
.main-text{
    font-size: 20px;
    font-weight: bolder;
}
.box{
    display: flex;
    gap: 20px;
    margin: 10px 0px;
}
.text{
    font-size: 18px;
}
.next{
    margin-top: 10px;
    border: none;
    border-radius: 40px;
    background: darkorange;
    padding: 10px 40px;
    float: right;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #000;
}
.fm{
  margin-left: 30px;
}
.dm{
  margin-left: 6px;
}
.d{
  margin-left: 7px;
}
.dd{
  margin-left: 12px;
}
.m{
  margin-left: 12px;
}
.g{
  margin-left: 29px;
}
.a{
  margin-left: 10px;
}